@model Library.Web.DTO.BookDTO

@{
    ViewData["Title"] = "Editar Libro";
}

<h1>Editar Libro</h1>

<form asp-action="Edit" method="POST">

    <input type="hidden" asp-for="@Model.Id" />

    <div class="mb-3">
        <label class="form-label">Titulo</label>
        <input type="text" class="form-control" asp-for="Title" placeholder="Titulo..">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <input type="text" class="form-control" asp-for="Description" placeholder="Descripción..">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Fecha de publicación</label>
        <input type="text" class="form-control" asp-for="PublishDate">
        <span asp-validation-for="PublishDate" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <div class="form-group">
            <label asp-for="AuthorId" class="control-label"></label>
            <select asp-for="AuthorId" asp-items="Model.Authors" class="form-control"></select>
            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>
    </div>

    <button class="btn btn-primary">Guardar</button>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}